<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h2 v-text="description" />
  </div>
</template>
<script>
export default {
  name: "About",
  props: {
    description: {
      type: String,
      default: "Learning Vue for enterprise apps"
    }
  }
};
</script>
